.header__square-pic {
    width: 568px;
    height: 568px;
    margin: 0;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    transform: rotate(-15deg);
    z-index: 1;
} 