@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    display: flex;
    position: relative;
    padding-top: 90px;
    flex-direction: column;
    overflow: hidden;
    background-color: #1F1F1F;
    color: #fff;
}